@charset "utf-8";
/* CSS Document */

body{background:#ededed; margin:0; padding:0;font-family:Arial, Helvetica, sans-serif;}
ul, li, a, img {margin:0; padding:0;color:#000;text-decoration:none;border:0;list-style:none;text-decoration:none;}
@font-face {
    font-family: 'ArialRoundedMTBoldBold';
    src: url('fonts/9290606139.eot');
    src: url('fonts/9290606139.eot') format('embedded-opentype'),
         url('fonts/9290606139.woff') format('woff'),
         url('fonts/9290606139.ttf') format('truetype'),
         url('fonts/9290606139.svg#ArialRoundedMTBoldBold') format('svg');
}
@font-face {
    font-family: 'CalibriRegular';
    src: url('fonts/calibri.eot');
    src: url('fonts/calibri.eot') format('embedded-opentype'),
         url('fonts/calibri.woff') format('woff'),
         url('fonts/calibri.ttf') format('truetype'),
         url('fonts/calibri.svg#CalibriRegular') format('svg');
}

#wrapper{width:1100px;margin:0 auto;position:relative;}
.header{float:left;width:100%; background: url(images/tra.png) no-repeat center top ; padding-top:10px}
.headere{float:left;width:100%; background: url(images/ipcik.png) repeat ;}
.menu{
background: #252525;border: 1px solid #7d7d7d;
float: right;
height: 45px;
width: 100%;
margin-top: 15px;
padding:5px 0px;
}
.menu ul{float:right;font-family: 'ArialRoundedMTBoldBold';color:#ff8989;}
.menu ul li ul{ display: none;
position: absolute;
background: #1271cf;
left: 0px;
z-index:9999;
top: 32px;}
.menu ul li ul li{
width: 100%;
padding: 0px;
font-size: 11px;
border-bottom: 1px dotted #0CA8CF;
margin:0;
}
.menu ul li ul li:hover{
background:#012c57;
}
.menu ul li ul li a{
color: #fff !important;
padding: 6px;
float: left;
}
.menu ul li:hover ul{ display:block;}
.menu ul li{border-radius: 2px;
font-size: 14px;
position: relative;
float: left;
padding: 8px;
margin-top: 6px;
margin-left: 8px;}
.menu ul li a{color:#fff;}
.menu ul .active{
background:#d60000;
}
.menu ul .active a{color:#fff;}
.menu ul li:hover{background:#d60000;
}
.menu ul li:hover a{
color:#fff;}
.menu ul li:hover a{color:#fff;}
.list{}
.list-tabs{float:left;width:110px;}
.list-tabs ul{float:left;width:100%;margin: 93px 0px 0px 10px;}.list-tabs ul li{float:left;width:100%;}
.list-tabs ul li a{color:#282828;font-size:10px;font-family: 'ArialRoundedMTBoldBold';margin-bottom: 9px;float: left; text-transform: uppercase;} 
.list-tabs ul li a:hover{text-decoration:underline;}
.information{float:left;width:255px;font-family: 'ArialRoundedMTBoldBold';}
.icon{width: 32px;
height: 25px;
background: url(images/icon-img.png) no-repeat -49px 0px;}
.top{float:right;width:100%;text-align: right;margin-bottom:5px;}
.bottom{float:right;}
.icons{float:right;width:90px;}
.icons .a{float: right;
width: 25px;
height: 25px;
background: url(images/icon-img.png) no-repeat -174px 0px;
margin-left: 2px;}
.icons .b{float: right;
width: 25px;
height: 25px;
background: url(images/icon-img.png) no-repeat -148px 0px;
margin-left: 2px;}
.icons .c{float: right;
width: 25px;
height: 25px;
background: url(images/icon-img.png) no-repeat -122px 0px;
margin-left: 5px;}
.search {
height: 31px;
width: 183px;
padding: 0;
margin: 0;
border-radius:0;
padding-left: 10px;
float: left;
}
.go {
background: #1271cf;
border: 0px;
margin: 0;
padding: 0;
width: 65px;
color: #FFFFFF;
height: 31px;
}
.man {
position: absolute;
left: -95px;
top: 200px;
z-index: 99999;
}
.slide{float: left;
width: 997px;
background: #fff;
margin-left: 103px;
margin-bottom:25px;
margin-top: 20px;}
.box {
float: left;
width: 289px;
margin: 20px;
border-right: 1px solid #d7d7d7;
margin-left: 60px;
}
.head {
width: 100%;
float: left;
text-indent: 48px;
font-size:16px;
color:#3b3b3b;
margin-bottom: 10px;
}
.box p{ font-family: 'CalibriRegular';
font-size: 16px;
margin-top: 2px;
color: #535353;
width: 190px;
margin-bottom: 0;
margin-left: 10px;
float: left;}
.box a{color: #ff0000;
margin-top: 10px;
float: left;
font-weight: bold;
font-size: 13px;}
.content-area{width: 1060px;
float: left;
background: #fff;
padding: 20px;
margin-top: 25px;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.33);margin-bottom:25px;}
.list-icon{float:left;width:400px;font-family: 'CalibriRegular';font-size:16px;color:#535353;}
.list-icon li{margin-bottom:1px; color:#535353}
.content-area h2{font-size:16px;color:#000; text-transform:uppercase;font-weight:normal;margin-top:0;} 
.content-area p{font-family: 'CalibriRegular';font-size:16px;color:#535353;} 
.list-icon li{float:left;width:100%;}
.clear{background:#d7d7d7;height:1px;float:left;width:100%; margin:50px 0px;}
.read-more {
background: #3d3d3d;
color: #fff;
border: 0px;
border-radius: 5px;
padding: 10px 15px;
}
.read-more:hover {
background: #c53333;
cursor:pointer;
}
.box-tabs img {
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
border-radius: 5px;
}
.left{float:left;}
.right{float: left;width: 340px;
margin-left: 37px;}
.box-tabs {
float: left;
text-align: center;
width: 155px;
margin-top: 25px;
margin-right: 15px;
}
.info-lavel{float:left;margin-right: 15px;width: 400px;}
.head-line {
background: #3d3d3d;
float: left;
width: 95%;
color: #fff;
padding: 10px;
}
.read {
width: 100%;
float: left;
padding: 10px;
color: #282828;
font-size: 16px;
}
.video {
border: 1px solid #dbdbdb;
padding: 10px;
float: left;
min-height: 269px;
width: 378px;
}
.info-lavel input[type="input"] {
float: left;
width: 267px;
height: 30px;
padding-left:15px;
margin-bottom: 10px;
}
.testy{width: 100%;
float: left;
font-size: 12px;
color: #535353;
margin-bottom:12px;
line-height: 18px;}
.bA{background: url(images/icon-img.png) no-repeat -201px -6px;
width: 17px;
height: 25px;
float: left;
margin-right: 5px;}
.AB{background: url(images/icon-img.png) no-repeat -216px 0px;
width: 17px;
height: 25px;
float: right;
margin-right: 5px;}
.footer{
	float: left;
background: #282828;
padding: 25px 0px;
position: relative;
width: 100%;}
.footer-box{
	margin:0 auto;
width: 1100px;}
.foot-ul{float: left;
width: 700px;
margin-top: 20px;}
.foot-ul li{margin-right:10px; font-size:12px; float:left;}
.foot-ul li a{color:#fff;}
.style{font-style: italic;
color: #377E00 !important;
font-weight: bold;}

.bulate li{color:#000 !important;font-weight:bold;list-style:circle !important;margin-left:18px;}

.form{float: left;
width: 500px;}

.boxto {
width: 100%;
float: left;
margin-bottom: 10px;
}
.name-left {
width: 150px;
float: left;
font-size: 14px;
}
.name-right {
float: left;
}
.name-right input.input, textarea.input {
width: 250px;
height: 27px;
padding-left: 15px;
}
h3{
	color: red;
font-size: 22px;
font-family: 'CalibriRegular';
text-align: center;
text-shadow: 1px 1px 0px #FFE000;
}
.slide-img img{float: left;
margin: 10px;
width: 245px;
height: 180px;}
.black{color:#000 !important;}
.slide-img {
float: left;
width: 100%;
margin-bottom: 22px;
padding-bottom: 22px;
border-bottom: 1px dotted rgb(194, 194, 194);
}

#KITCHEN, #BATH, #BEDROOM, #LIVING, #OUTgate, #OFFICE, #EXTERIOR, #LIGHTING, #DECOR {
float: left;
}
.rightli{float:right; margin-top:15px;}
.phone-nu{float:right;font-size:20px;}
.main-nu{float: right;
font-size: 16px;
margin-right: 12px;
margin-top: 2px;
font-weight: bold;}