@font-face {
    font-family: 'ArialRoundedMTBoldBold';
    src: url('9290606139.eot');
    src: url('9290606139.eot') format('embedded-opentype'),
         url('9290606139.woff') format('woff'),
         url('9290606139.ttf') format('truetype'),
         url('9290606139.svg#ArialRoundedMTBoldBold') format('svg');
}
